<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="text-gray-600 body-font">
      <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
           <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">News Checker</h1>
          <p class="mb-8 leading-relaxed">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt repudiandae vel sint hic. Eligendi aperiam ratione itaque dignissimos necessitatibus dolores.</p>
            <form action="/" method="POST" class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
            <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4 md:w-full text-left">
                <label for="hero-field" class="leading-7 text-sm text-gray-600">Enter News</label>
                <textarea id="hero-field" name="hero-field" class="w-full bg-gray-100 bg-opacity-50 rounded focus:ring-2 focus:ring-indigo-200 focus:bg-transparent border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"></textarea>
              </div>
            <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
          </div>
          </form>
          
      </div>
      
    </section>
    <div class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center">
              {% if news %}
                  {{news}}
              {% endif %}
        </div>
</body>
</html>